{% extends 'Quiz/dependencies.html' %}

{% block content %}
{% load static %}

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Привет, {{request.user}}</h5>
    <p class="card-text">Хочешь проверить уровень своей внимательности и доказать всем, что именно Ты — самый умный и находчивый?</p>
    <a href="{% url 'quiz' %}" class="btn btn-primary">Пройти тест</a>
  </div>
  <div class="card-footer text-muted">
    Не забудь зарегистрироваться
  </div>
</div>


{% endblock %}